<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" type="text/css" href="css/nav.css">
        
    </head>

    <body>
        <svg width="400" height="100" viewBox="0 0 400 100" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path fill-rule="evenodd" clip-rule="evenodd" d="M321.283 77.231C304.8 89.2628 280.852 95.65 260.261 95.65c-28.857 0-54.859-10.5463-74.498-28.0741-1.553-1.3863-.15-3.2678 1.703-2.1786 21.243 12.1803 47.445 19.5578 74.549 19.5578 18.286 0 38.376-3.763 56.863-11.4871 2.755-1.2378 5.11 1.7825 2.405 3.763Z" fill="#F90"/><path fill-rule="evenodd" clip-rule="evenodd" d="M328.146 69.507c-2.104-2.6737-13.928-1.2874-19.288-.6437-1.603.1981-1.854-1.1883-.401-2.2281 9.419-6.5358 24.9-4.6543 26.703-2.4757 1.804 2.2281-.501 17.5278-9.318 24.8557-1.353 1.1389-2.656.5447-2.054-.9407 2.004-4.9018 6.462-15.9433 4.358-18.5675Z" fill="#F90"/><path d="M104.805 30.0278c-1.184 0-2.144.9587-2.144 2.1415 0 17.6222-14.3013 31.9079-31.9428 31.9079-1.184 0-2.1438.9588-2.1438 2.1415s.9598 2.1415 2.1438 2.1415c20.0095 0 36.2308-16.2033 36.2308-36.1909 0-1.1828-.96-2.1415-2.144-2.1415Z" fill="#005EB8"/><path d="m107.915 48.0797-2.224 4.2266-5.339-.1107 4.448-8.4532 3.115 4.3373ZM101.217 58.6556l-3.4464 3.3063-5.0296-1.7934 6.8931-6.6126 1.5829 5.0997ZM91.7533 66.7293l-4.1655 2.3365-4.4192-2.9973 8.3309-4.673.2538 5.3338ZM79.3508 71.4755l-4.7208.7241-3.0845-4.3587 9.4416-1.4482-1.6363 5.0828ZM110.478 35.3697l-.683 4.727-5.068 1.6809 1.365-9.454 4.386 3.0461Z" fill="#005EB8"/><path fill-rule="evenodd" clip-rule="evenodd" d="M389.78 34.2869v21.769h8.528V32.394c0-4.3608-.853-7.6551-2.559-9.8897-1.707-2.2563-4.28-3.361-7.627-3.361-3.631 0-6.541 2.1208-8.29 5.6788h-.474c.129-1.837.246-2.8894.331-3.6578.088-.7925.143-1.2831.143-2.021V5.4193h-8.528V56.056h9.001V38.5461c0-3.9269.132-6.8322.941-8.9149.809-2.1045 2.22-3.1567 4.233-3.1567 2.69 0 4.301 2.4971 4.301 7.8124ZM265.99 53.4331c2.305-2.3795 3.457-5.8069 3.457-10.2821 0-2.7943-.632-5.283-1.895-7.4661-1.24-2.183-3.445-4.3224-6.613-6.4181-2.349-1.5282-4-2.8926-4.952-4.0933-.931-1.2006-1.396-2.6087-1.396-4.2242 0-1.6373.388-2.9253 1.163-3.864.798-.9605 1.928-1.4408 3.39-1.4408 1.329 0 2.57.2402 3.722.7204 1.174.4803 2.293 1.0261 3.357 1.6373l2.991-7.1386c-3.434-2.052-7.012-3.078-10.735-3.078-3.899 0-7.012 1.2006-9.339 3.602-2.304 2.4013-3.456 5.6541-3.456 9.7582 0 2.1394.288 4.0168.864 5.6323.598 1.6154 1.429 3.0781 2.493 4.3879 1.085 1.288 2.669 2.6415 4.752 4.0605 2.393 1.6154 4.11 3.089 5.152 4.4207 1.041 1.3098 1.562 2.7615 1.562 4.3552 0 1.6154-.444 2.8925-1.33 3.8312-.864.9387-2.16 1.4081-3.888 1.4081-3.036 0-6.37-1.168-10.004-3.5038v8.8086c2.969 1.6373 6.57 2.4559 10.801 2.4559 4.321 0 7.622-1.1897 9.904-3.5693Zm9.307-1.2819c2.658 3.2341 6.283 4.8512 10.875 4.8512 3.933 0 7.306-.8413 10.118-2.5239V47.3c-2.988 1.77-5.91 2.655-8.766 2.655-2.242 0-3.999-.7867-5.274-2.36-1.274-1.5952-1.841-3.9-1.907-7.156h17.529v-4.7754c0-5.2227-1.154-9.2763-3.46-12.1608-2.307-2.9064-5.46-4.3595-9.459-4.3595-4.284 0-7.624 1.6935-10.019 5.0806-2.395 3.3871-3.592 8.0963-3.592 14.1275 0 5.9439 1.318 10.5438 3.955 13.7998Zm6.492-24.2889c.813-1.333 1.846-1.9995 3.098-1.9995 1.34 0 2.395.6884 3.164 2.0651.769 1.3767 1.249 3.693 1.293 6.359h-9.001c.132-2.7752.633-5.1134 1.446-6.4246Zm37.402 28.1936-1.421-4.7324h-.474c-1.306 2.1379-2.563 3.6611-3.957 4.4682-1.395.8071-3.155 1.2107-5.28 1.2107-2.723 0-4.87-1.0035-6.441-3.0104-1.55-2.0069-2.325-4.7992-2.325-8.3768 0-3.8393 1.063-6.6862 3.188-8.5404 2.147-1.876 5.346-2.9122 9.596-3.1086l4.914-.1963v-2.6177c0-3.4031-1.494-5.1046-4.482-5.1046-2.214 0-4.76.8507-7.637 2.5523l-3.055-6.0209c3.674-2.2905 7.609-3.4357 11.926-3.4357 3.918 0 6.956 1.1125 8.992 3.3376 2.059 2.2032 3.089 5.3336 3.089 9.3911v24.1839h-6.633Zm-7.513-5.8596c1.616 0 2.9-.709 3.852-2.127.974-1.4397 1.461-3.3485 1.461-5.7263v-3.0758l-2.723.1309c-2.014.109-3.497.6762-4.449 1.7015-.93 1.0253-1.395 2.5523-1.395 4.5811 0 3.0104 1.085 4.5156 3.254 4.5156Zm35.938-30.3432c-1.014-.3265-2.523-.7098-3.58-.7098-1.488 0-2.793.4897-3.915 1.4692-1.122.9795-1.978 1.9242-2.927 4.2096h-.474l-1.421-4.7324h-6.633v35.9662h8.967V37.1264c0-3.1779.201-5.2281 1.323-6.8824 1.122-1.676 2.729-2.514 4.821-2.514.971 0 1.814.1871 2.418.4048l1.421-8.2817Zm13.265 37.1493c-4.318 0-7.623-1.4406-9.88-4.6091-2.256-3.1686-3.385-7.8232-3.385-13.9637 0-6.4246 1.064-11.2212 3.19-14.3897 2.148-3.1686 5.354-4.8966 9.824-4.8966 1.345 0 2.859.3404 4.334.7337 1.476.3933 3.273.8895 4.445 1.6324l-2.947 6.8572c-1.801-1.0707-3.396-1.6061-4.785-1.6061-1.844 0-3.179.9724-4.003 2.9173-.803 1.923-1.205 4.8184-1.205 8.6863 0 3.7804.402 6.6103 1.205 8.4896.803 1.8574 2.115 2.7862 3.938 2.7862 2.17 0 4.437-.7649 6.803-2.2945v7.6701c-2.279 1.4204-4.778 1.9869-7.534 1.9869Z" fill="#003B5C"/><path fill-rule="evenodd" clip-rule="evenodd" d="M148.428 50.6255c2.983-4.2513 4.475-10.3339 4.475-18.2478 0-7.914-1.481-13.9857-4.442-18.2152-2.962-4.2513-7.218-6.377-12.768-6.377-5.616 0-9.916 2.1148-12.899 6.3443-2.983 4.2077-4.475 10.2685-4.475 18.1824 0 7.9794 1.492 14.0947 4.475 18.346 2.983 4.2295 7.261 6.3442 12.833 6.3442 5.55 0 9.817-2.1256 12.801-6.3769Zm-18.888-5.7883c-1.382-2.856-2.073-7.0092-2.073-12.4595 0-5.4722.691-9.6254 2.073-12.4596 1.382-2.856 3.433-4.284 6.153-4.284 5.353 0 8.029 5.5812 8.029 16.7436 0 11.1623-2.698 16.7435-8.095 16.7435-2.676 0-4.705-1.428-6.087-4.284Zm38.225 11.2167c1.216.7012 2.525.9485 4.088.9485 3.344 0 6.065-1.584 7.997-4.9584 1.933-3.3744 2.9-8.0307 2.9-13.9688 0-6.0258-.934-10.6821-2.802-13.9689-1.867-3.3087-4.452-4.963-7.753-4.963-3.431 0-6.119 2.0415-7.922 5.6788h-.474l-1.421-4.7324h-6.633v52.5296h8.528V57.0024c0-.6135-.126-2.6988-.474-5.6789h.474c.711 2.1296 2.298 4.0073 3.492 4.7304Zm-2.182-27.0831c.76-1.5996 1.987-2.3994 3.681-2.3994 1.585 0 2.747.9422 3.485 2.8266.76 1.8845 1.14 4.733 1.14 8.5457 0 7.7568-1.52 11.6352-4.56 11.6352-1.759 0-3.019-.9203-3.779-2.7609-.76-1.8406-1.14-4.7768-1.14-8.8086V36.859c.044-3.6812.435-6.3106 1.173-7.8882Zm33.892 28.0316c-4.592 0-8.217-1.6171-10.876-4.8512-2.636-3.256-3.954-7.8559-3.954-13.7997 0-6.0313 1.197-10.7405 3.592-14.1276 2.395-3.3871 5.734-5.0806 10.019-5.0806 3.998 0 7.151 1.4531 9.458 4.3595 2.307 2.8845 3.461 6.9381 3.461 12.1608v4.7754h-17.529c.066 3.256.633 5.5608 1.907 7.156 1.275 1.5734 3.032 2.36 5.273 2.36 2.857 0 5.779-.885 8.767-2.655v7.1785c-2.812 1.6826-6.185 2.5239-10.118 2.5239Zm-1.285-31.1395c-1.253 0-2.285.6664-3.098 1.9994-.813 1.3112-1.314 3.6494-1.446 6.4246h9.001c-.044-2.666-.524-4.9823-1.293-6.359-.769-1.3767-1.824-2.065-3.164-2.065Zm34.304 8.424v21.769h8.527V32.5824c0-4.3919-.831-7.7297-2.493-10.0135-1.641-2.2837-4.124-3.4256-7.449-3.4256-1.968 0-3.685.4831-5.151 1.4493-1.466.9442-2.596 2.5387-3.383 4.2295h-.474l-1.184-4.7324h-6.87v35.9662h9.002V38.7827c0-4.4578.164-7.4959 1.039-9.3624.875-1.8885 2.253-2.8328 4.134-2.8328 1.422 0 2.45.6807 3.084 2.0422.635 1.3615 1.218 3.0001 1.218 5.6572Z" fill="#005EB8"/><g clip-path="url(#b)"><path d="M39.9951 31.8855 11.5433 49.837c-4.8982 3.0904-6.3636 9.5665-3.2731 14.4647 3.0904 4.8982 9.5665 6.3637 14.4647 3.2732l19.7959-12.4901c1.2246-.7726 2.8436-.4063 3.6162.8183.7726 1.2245.4063 2.8436-.8183 3.6162L25.5328 72.0094c-7.3472 4.6357-17.0614 2.4375-21.6971-4.9098C-.8 59.7524 1.398 50.0382 8.7454 45.4025l31.0397-19.5844c.6473-7.9377 4.8898-15.4847 12.1438-20.0616C61.4009-.2198 73.515.5172 82.1655 7.3452c1.4203 1.121 1.3049 3.3096-.2253 4.2751L67.555 20.6965c-2.4491 1.5453-3.1818 4.7833-1.6366 7.2324 1.5453 2.4491 4.7833 3.1818 7.2324 1.6366l14.3852-9.0762c1.5302-.9655 3.5553-.1274 3.9556 1.6371 2.4386 10.7473-2.1117 21.9986-11.5836 27.9749-12.2455 7.7262-28.4358 4.0627-36.162-8.1828-1.9896-3.1534-3.2239-6.5684-3.7509-10.033ZM75.6901 9.364c-6.5056-3.4217-14.503-3.2491-20.9633.827-9.7964 6.181-12.7273 19.1332-6.5463 28.9296 6.181 9.7964 19.1332 12.7272 28.9295 6.5463 6.4604-4.0762 10.0592-11.2201 9.7717-18.565L75.9487 34c-4.8982 3.0905-11.3743 1.625-14.4648-3.2732-3.0905-4.8982-1.625-11.3743 3.2732-14.4647l10.933-6.8981ZM18.7757 51.4734c2.4491-1.5452 5.6871-.8125 7.2324 1.6366 1.5452 2.4491.8125 5.6872-1.6366 7.2324-2.4491 1.5452-5.6871.8125-7.2324-1.6366-1.5452-2.4491-.8125-5.6871 1.6366-7.2324Z" fill="#005EB8"/></g></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h400v100H0z"/></clipPath><clipPath id="b"><path fill="#fff" transform="rotate(102.75 45.8101 42.9804)" d="M0 0h83.8939v83.8939H0z"/></clipPath></defs></svg>
        <ul class="topnav">
            <li><a href="/">OpenSearch</a></li>
            <li><a class="active" href="dashboards">OpenSearch Dashboards</a></li>
            <li><a href="perf">Performance Tests</a></li>
        </ul>
        <table>
            <tr>
                <th>Number</th>
                <th>Status</th>
                <th>Result</th>
                <th>Version</th>
                <th>Start Time(PDT)</th>
                <th>Duration</th>
                <th>Integ</th>
                <th>Commits</th>
                <th>CVEs</th>
                <th>Artifacts(Tar)</th>
                <th>Artifacts(RPM)</th>

            </tr>
            <% for(let i = 0; i < NUM_OF_BUILDS; i++){ %>
            <tr class="border">
                <td><a target='_blank' href="https://build.ci.opensearch.org/job/distribution-build-opensearch-dashboards/<%= builds_array[i].build_num %>"><%= builds_array[i].build_num %></a></td>
                <td><%= builds_array[i].running %></td>
                <td class="result"><%= builds_array[i].result %></td>
                <td><%= builds_array[i].version %></td>
                <td><%= builds_array[i].start_time %></td>
                <td><%= builds_array[i].duration %></td>
                <% if(builds_array[i].running === "Done" && builds_array[i].result != 'ABORTED') { %>
                <td><a href="integ/<%= builds_array[i].build_num %>-<%= builds_array[i].version %>-d">Integ</a></td>
                <% } else { %>
                <td></td>
                <% } %>
                <% if(builds_array[i].running === "Done" && builds_array[i].result != 'ABORTED') { %>
                <td style="position:relative;"><a href="commits/<%= builds_array[i].build_num %>-d"><img id="commit-icon" src="images/commit.png" alt="Commits"></a></td>
                <% } else { %>
                <td></td>
                <% } %>
                <% if(builds_array[i].running === "Done" && builds_array[i].result != 'ABORTED') { %>
                    <td><a href="CVE/<%= builds_array[i].build_num %>-d">CVE</a></td>
                <% } else { %>
                    <td></td>
                <% } %>
                <% if(builds_array[i].result === "SUCCESS") { %>
                <td><a href="<%= builds_array[i].x64_tar %>">x64</a><br><a href="<%= builds_array[i].arm64_tar %>">arm64</a></td>
                <td><a href="<%= builds_array[i].x64_rpm %>">x64</a><br><a href="<%= builds_array[i].arm64_rpm %>">arm64</a></td>
                
                <% } else { %>
                    <td></td>
                    <td></td>
                <% } %>
            </tr>
            <% } %>
        </table>
        
        <script src="../js/result_color.js"></script>
    </body>
</html>